<% include partials/header %>

<div class="ui huge message jumbrotron">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, praesentium expedita odio vero in earum quas commodi recusandae consequatur voluptatibus tenetur, quam minima, laudantium pariatur.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus earum eius nemo. Cum, ullam necessitatibus voluptas amet placeat quos delectus mollitia sed nisi magni, incidunt voluptates vero saepe neque et reiciendis at assumenda modi praesentium similique! Aperiam ullam cum impedit perspiciatis ex facilis illo voluptate molestiae. Quos amet iure laboriosam.
</div>

<div class="ui container">
    <div class="ui inverted segment button-segment">
        <button class="ui inverted teal button "><a class="button-url" href="/login">Login</a></button>
        <button class="ui inverted button "><a class="button-url" href="/register">Register</a></button>
    </div>
</div>


<% include partials/footer %>